<!-- Import base.html for standard html layout -->
{% extends 'base.html' %}

<!-- Describes content-->
{% block content %}

    <div class="container">
    <!-- Content here -->
        <div class="row justify-content-md-center">
            <div class="col-sm" align="center">
                <h1>Devices</h1>
            </div>
       </div>
       <div class="row justify-content-md-center">
            {% for dev in devices %}
            <div class="col-md-2" align="center">
                <div class="deviceview">
                    <h4>{{dev.name}}</h4>
                    <br>
                    <h5>{{dev.pk}}</h5>
                    <br>
                    <h5>{{dev.lastSync}}</h5>
                    <br>
                    <h5>{{dev.lastMessageAccepted}}</h5>
                    <img src="{{dev.img.url}}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out!
    </div>
    <form action="extern" method="post">
    {% csrf_token %}
        <input type="text" value="fill" name="num">
        <input type="submit">
    </form>
{% endblock %}

