<!-- Import base.html for standard html layout -->
{% extends 'base.html' %}

<!-- Describes content-->
{% block content %}

    <div class="container">
    <!-- Content here -->
        <div class="row justify-content-md-center">
            <div class="col-sm" align="center">
                <h1>Devices</h1>
            </div>
       </div>
       <div class="row justify-content-md-center">
            {% for dev in devices %}
            <div class="col-md-4 space-top" align="center">
                <div class="deviceview">
                    <h5>{{dev.name}}</h4>
                    <br>
                    <h7>ID: {{dev.pk}} | {{dev.lastMessageAccepted}}</h7>
                    <hr>
                    <h7>{{dev.lastSync}}</h7>
                    <br>
                </div>
                <div class="devicepicture">
                    <img class="responsive-img fitpicture" src="{{dev.img.url}}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm" align="center">
            <h1>IO</h1>
        </div>
   </div>

    <form action="extern" method="post">
    {% csrf_token %}
        <input type="submit">
    </form>
{% endblock %}

